html {
   
    font-family: 'Courier New', Courier, monospace;
}

body
{
    margin: 0px;
    font-size: 15px;
    color: whitesmoke;
    background-image: url("Imagens/pic.jfif");
}

main{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.titulo-pagina{
    margin-top: 50px;
    width: 10;
    text-align: center;
    font-size: 20px;
}
.sub-titulo{
    font-size: 15px;
}

.list{
    width: 700px; 
    margin-left: auto;
    margin-right: auto;   
}

.skill{
    width: 700px; 
    margin-left: auto;
    margin-right: auto;
     
}

.hobbi-text{
    width: 700px; 
    margin-left: auto;
    margin-right: auto; 
    font-family: Arial, Helvetica, sans-serif;
}

.sobre-mim{
    width: 700px; 
    margin-left: auto;
    margin-right: auto; 
    
}
.sobre1{
   margin: 3px;
   color: whitesmoke;
   font-family: Arial, Helvetica, sans-serif;
}

.baixo-da-borda{
    width: 700px;
    margin-left: 350px;
    font-size: 24px;
}


.link{
    color: rgb(8, 245, 233)
}

.instagram{
    color: rgb(8, 245, 233);
    margin-left: 2px;
}

.Port{
    width: 700px;
    margin-left: 350px;
    font-size: 15px
}

.takeo{
    margin-top: 50px;
    
}

.info{
    font-size: 27px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 1px;
}

ul{
    margin-left: -20px;
}

.imagem
{
    text-align: center;
}